<div class="pg-footer" >
  <footer class="footer" >
    <div class="row" >
      <div class="col-md-6">
        <div class="footer-logo" >
          <br>
          <br>
          <a class="footer-logo-link" href="#">
           <img src="../../assets/Image/Vyayak-tec-b.png" >
          </a>
          <br>
          <br>
          <div style="margin-left: 45%;">
            <h2 class="footer-menu-name" style="font-size: 30px;"> Legal</h2>
            <ul id="menu-legal" class="footer-menu-list">
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-170434">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#">Terms & Codition</a>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#">Shipping policy</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#">Contact Details</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#">Help & Support</a>
              </li>

            </ul>
          </div>

        </div>

      </div>
      <div class="col-md-6">
        <div class="footer-logo">
          <br>
          <br>
          <h5 style="font-weight: 800; font-size: 20px;  margin-left:20%; color:  #ffc107!important; ">Contact</h5>
          <div style="margin-left: 10%;">
            <br>
            <p>
              <i class="fa fa-home mr-3" style="font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; text-transform: lowercase;">17
                  Ankpat Marg, Pal Kirana Stroe, </span><br>
                <span
                  style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; text-transform: lowercase; margin-left: 10%;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kamal Colony Ujjain, Ujjain</span> <br>
                <span
                  style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; text-transform: lowercase; margin-left: 10%;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Madhya Pradesh . 456001 </span>
              </i>

            </p>
            <br>
            <p>
              <i class="fa fa-envelope mr-3" style="font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp; <span
                  style="font-size: 20px; text-transform: lowercase; font-family: Arial, Helvetica, sans-serif;">Info@vinayak.com</span>
              </i>
            </p>
            <br>
            <p>
              <i class="fa fa-phone mr-3" style="font-size: 25px; ">&nbsp;&nbsp;&nbsp;&nbsp;<span
                  style="font-size: 17px;margin-left: 5%;">8218228879</span> </i>
            </p>
          </div>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-copyright-wrapper">
        <div class="row">
          <div class="col-md-6">
            <p class="footer-copyright-text">
              <a class="footer-copyright-link" href="#" target="_self"> 2023| Designed By: Chanchal Srivastava. | All
                rights reserved. </a>
            </p>
          </div>
          <div class="col-md-6">
            <i class="fa fa-instagram d-flex1"></i>
            &nbsp;&nbsp;
            <i class="fa fa-facebook d-flex1"></i> &nbsp;&nbsp;
            <i class="fa fa-whatsapp d-flex1"></i>
          </div>
        </div>

      </div>
    </div>
  </footer>
</div>