<div class=" about-banner">
    <div class="container banner-container">
        <h1>Spices</h1>
    </div>
  </div>
<div class="container mydiv">
    <div class="row">
        <div class="col-md-4">
            <h3>Spices category</h3>
            <div class="panel-body1">
                <ul class="bodys">
                    <li style="font-size: 15px; font-weight: bold;">Elaichi Green</li>
                    <li style="font-size: 15px; font-weight: bold;">Kesar kashmir Saffron</li>
                    <li style="font-size: 15px; font-weight: bold;">Lakhnavi Patli Saunf</li>
                    <li style="font-size: 15px; font-weight: bold;">Badi Saunf Fennel Seeds</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">

                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="../../assets/Image/almond/elaichi.jpg" alt=""></div>
                        <div class="bbb_deals_content">

                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">Elaichi Green</div>
                                <div class="bbb_deals_item_price ml-auto">₹100</div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">
            
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="../../assets/Image/almond/kesar.jpg" alt=""></div>
                        <div class="bbb_deals_content">
                           
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">Kesar kashmir saffron</div>
                                <div class="bbb_deals_item_price ml-auto">₹250</div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="../../assets/Image/almond/saunf.jpg" alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">Lakhnavi Patli Saunf</div>
                                <div class="bbb_deals_item_price ml-auto">₹200</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bbb_deals">
               
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="../../assets/Image/almond/badi saunf.jpg" alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">Badi Saunf</div>
                                <div class="bbb_deals_item_price ml-auto">₹300</div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
