@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");



section {
    display: flex;
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    min-width: 60vh;
    height: 50vh;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 24px 0px;
    margin-left: 30%;
}

.pass_show {
    position: relative
}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}

.pass_show .ptxt:hover {
    color: #333333;
}

.input-container {
    display: -ms-flexbox;

    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.btn {
    border-radius: 30px;
    border-color: #f36c01;
    background-color: dodgerblue;
    color: brown;
}

.btn:hover {

    border-color: #6bdb1f;
    background-color: rgb(27, 218, 202);
    color: brown;
}

.input {
    height: 40px;
    border-radius: 40px;
    text-align: center;
    border-color: #f36c01;
    background-color: dodgerblue;
    color: rgb(230, 16, 69);
    font-weight: bold;
    font-size: 20px;

}

.btnn {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 60px;
    width: 200px;
    border-radius: 40px;
    border-color: cornflowerblue;
    background-color: #418018;
    color: #f36c01;
    font-size: 20px;
    font-weight: bold;
}

.btnn:hover {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 60px;
    width: 200px;
    border-radius: 40px;
    border-color: cornflowerblue;
    background-color: #21a2b3;
    color: #9c4c0b67;
    font-size: 20px;
    font-weight: bold;
}

label {
    color: brown;
    font-size: 20px;
    font-weight: bold;
}
h2{
    text-align: center;
     color: lightgreen;
}

@media screen and (max-width:400px) {
    label {
        color: brown;
        font-size: 15px;
        font-weight: bold;
    }
    h2{
        text-align: center;
         color: lightgreen;
         font-size: 15px;
    }
    .input {
        height: 40px;
        border-radius: 40px;
        width: 150px;
        text-align: center;
        border-color: #f36c01;
        background-color: dodgerblue;
        color: rgb(230, 16, 69);
        font-weight: bold;
        font-size: 14px;
    
    }
    
    section {
        display: flex;
        margin-top: 5%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 30vw;
        min-width: 33vh;
        height: 50vh;
        margin-bottom: 5%;
        background-color: white;
        border-radius: 12px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 24px 0px;
        margin-left: 15%;
    }
}