
<div class=" about-banner">
    <div class="container banner-container">
        <h1>Nuts</h1>
    </div>
  </div>
<div class="page">
    <div class="row">
       
           <div class="col-md-3">
            <section class="panel">
                <header class="panel-heading" style="margin-top: 30px; font-size: 30px; font-weight: bold; margin-left: 35%;">
                    Nuts Category 
                </header>
                <div class="panel-body1">
                    <ul class="bodys" >
                     
                         <li style="font-size: 15px; font-weight: bold;">Almond</li>
                        <li style="font-size: 15px; font-weight: bold;">Mamer Almonds</li>
                      <li style="font-size: 15px; font-weight: bold;">Cashew Nuts</li>
                      <li style="font-size: 15px; font-weight: bold;">Pistachio</li>
                      <li style="font-size: 15px; font-weight: bold;">Walnuts</li>
                      <li style="font-size: 15px; font-weight: bold;">Fox Nuts</li>
                      <li style="font-size: 15px; font-weight: bold;">Exotic Nuts</li>
                      <li style="font-size: 15px; font-weight: bold;">Coconuts</li> 
                      </ul>
                   
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/almonds-removebg-preview.png" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Almonds</a></strong></h4>
                    <p class="price">₹50</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/images3.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Mamer Almonds</a></strong></h4>
                    <p class="price">₹60</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/img.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Cashew Nuts</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/img3.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Pistachio</a></strong></h4>

                    <p class="price">₹50</p>

                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/walnuts.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Walnuts</a></strong></h4>
                    <p class="price">₹60</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/fox.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Fox Nuts</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          
        </div>
     
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/image4.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Exotic Nuts</a></strong></h4>
                    <p class="price">₹60</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/coconuts.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Coconuts</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
          
        </div>
    </div>
</div>