<div class="cart-wrap">
    <div class="container">
        <div class="row" style="max-width: 100%;">
            <div class="col-md-12">
                <div class="main-heading mb-10" >Product Wishlist</div>
                <br/>
                <div class="table-wishlist">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr >
                                <th width="45%" style="font-weight: bold;">Product Image  &nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;
                                 
                                    
                                    Product Name
                                </th>
                                
                                <th width="15%" style="font-weight: bold;">Unit Price</th>
                                <th width="15%" style="font-weight: bold;">Stock Status</th>
                                <th width="15%" style="font-weight: bold;">Add Product</th>
                                <th width="10%" style="font-weight: bold;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="45%">
                                    <div class="row">
                                        <div class="display-flex align-center">
                                            <div class="img-product">
                                                <img src="../../assets/Image/almonds.jpg" alt="" class="mCS_img_loaded " > 
                                            </div>
                                            <div class="name-product" style="text-align: center; font-size: 15px; font-weight: bold;">
                                               Almond
                                            </div>
                                        </div>
                                    </div>
                                   
                                </td>
                                <td width="15%" class="price">₹110.00</td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><button class="round-black-btn small-btn">Add to Cart</button></td>
                                <td width="10%" class="text-center"><a href="#" class="trash-icon"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="../../assets/Image/Alucha.jpg" alt="" class="mCS_img_loaded"> 
                                        </div>
                                        <div class="name-product" style="text-align: center; font-size: 15px; font-weight: bold;">
                                           Alucha
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">₹110.00</td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><button class="round-black-btn small-btn">Add to Cart</button></td>
                                <td width="10%" class="text-center"><a href="#" class="trash-icon"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="../../assets/Image/brazil-nut.jpg" alt="" class="mCS_img_loaded"> 
                                        </div>
                                        <div class="name-product" style="text-align: center; font-size: 15px; font-weight: bold;">
                                            Brazil-Nut
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">₹110.00</td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><button class="round-black-btn small-btn">Add to Cart</button></td>
                                <td width="10%" class="text-center"><a href="#" class="trash-icon"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

