<div class=" about-banner">
    <div class="container banner-container">
        <h1>About Us</h1>
    </div>
</div>
<div class="about-banner-bt">
    <ul class="AJ-breadcrumb  scroll-trigger animate--slide-in">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9L4.5 5L0.5 1" stroke="#403F3B" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </li>
        <li>About Us</li>
      
    </ul>
    <div class="profile-container container">
        <div class="row">
            <div class="col-md-6">
                <div class="img">
                    <img src="../../assets/Image/almond/picture.jpg">

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-content">
                    <h2>OUR VISION</h2>
                    <p class="bt">To become the first choice of customer for dates, dry fruits, nuts and other precious
                        items in
                        fruits and vegetables along with imported drinks and wines by bringing the freshest and highest
                        quality
                        to maximum number of customers through our own shops across India. Our priority lies with
                        consistently
                        keeping up our customers by serving them the products without compromising the level of quality.
                    </p>

                    <h2>Our MISSION</h2>
                    <p>We endeavour to achieve our vision by following international standards of quality, right from
                        selection
                        till after sales service. For that we have our own dates farm in the Middle East and we
                        cultivate and
                        sale pure organic dates in 40 + varieties. On the other hand we import fine quality Nuts, dry
                        fruits,
                        exotic fruits, vegetables and drinks from the source from which they are available at their
                        best.</p>
                </div>
            </div>
        </div>



    </div>



    <div class="bt-profile profile-top" style="margin-top: 5%;">
        <div class="row" style="max-width: 100%;">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../assets/Image/almond/Online_Dried_Fruits_and_Nuts_2_O1.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/Image/almond/Online_Dried_Fruits_and_Nuts_5_O1.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/Image/almond/Online_Dried_Fruits_and_Nuts_6_O1.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/Image/almond/Online_Dried_Fruits_and_Nuts_7_O1.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/Image/almond/Online_Dried_Fruits_and_Nuts_O1.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-content">
                    <h2>NUTTIEST PEOPLE AROUND</h2>
                    <p>Varieties of dates, nuts and dry fruits from countries like Iran, Afghanistan, United States of
                        America
                        and Dubai. The best dates that grow in Saudi Arabia are offered to our customers in India.The
                        hand-picked dates are hygienically processed to ensure the best quality. Our exclusive farm
                        fresh yellow
                        dates are a catch for the season!</p>
                    <br />
                    <br />
                    <a href="/blogs/recipes" class="bt-botton">Check Out The Store Now</a>
                </div>
            </div>
        </div>


    </div>
    <div class="profile-container container" style="margin-bottom: 5%; margin-top: 5%;">
        <div class="row bt-profile">

            <div class="col-md-6">
                <div class="profile-content">
                    <h2>NUTTIEST PEOPLE AROUND</h2>
                    <p>At Ajfan, we respect and connect with Mother Nature and earth and we do not do anything that does
                        not go in sync with nature. Hence, dry fruits that we grow at our farm are free of pesticides or
                        insecticides. The cultivation measures that we have been using are purely organic. There is
                        minimal use of machines and we prefer using hands for our cultivations. We ensure that each pack
                        of our dry fruits are hygienic and do not contain any preservative. Keeping nature intact and
                        saving the environment is our way of giving back what Mother Nature has given us!</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="img">
                    <img alt=" image1"
                        src="../../assets/Image/almond/top-view-autumnal-bowl-with-pine-cones-copy-space_4_1_O1.webp">

                </div>
            </div>
        </div>
    </div>