<div class="container-xl px-4 mt-4">

  <ul class="nav "  style="margin-left: 30%; margin-top: 3%;">
      <li class="nav-item"  >
     <button class="btn1"><a class="nav-link" aria-current="page" href="#" routerLink="/user" >Account Details</a></button>   
      </li>
    &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
      <button class="btn2"><a class="nav-link" href="#" routerLink="/password" >Update Password</a></button>  
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
      <button class="btn2"><a class="nav-link" href="#" routerLink="/update" >Update Profile</a></button>  
      </li>
    </ul>


</div>

<div class="container" >
	<div class="row" style="margin-left:  30%; margin-top: 5%;">
		<div class="col-sm-4">
		    
		    <label>Current Password</label>
        <div class="input-group mb-3">
          <input [type]="cshowPwd?'text':'password'" class="form-control" placeholder="current password" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <i class="fa fa-eye-slash" *ngIf="cshowPwd" (click)="cpasswordToggle()"></i>
            <i class="fa fa-eye " *ngIf="!cshowPwd" (click)="cpasswordToggle()"></i></button>
        </div>
		       <label>New Password</label>
           <div class="input-group mb-3">
            <input [type]="nshowPwd?'text':'password'" class="form-control" placeholder="new password" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
              <i class="fa fa-eye-slash" *ngIf="nshowPwd" (click)="npasswordToggle()"></i>
              <i class="fa fa-eye " *ngIf="!nshowPwd" (click)="npasswordToggle()"></i>
            </button>
          </div>
		       <label>Confirm Password</label>
           <div class="input-group mb-3">
        
            <input [type]="confirmshowPwd?'text':'password'" class="form-control" placeholder="confirm password" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
              <i class="fa fa-eye-slash" *ngIf="confirmshowPwd" (click)="conpasswordToggle()"></i>
              <i class="fa fa-eye " *ngIf="!confirmshowPwd" (click)="conpasswordToggle()"></i>
            </button>
          </div>
            
		</div>  
	</div>
</div>
<button style="margin-left:  40%; margin-top: 25px; margin-bottom: 50px; ">Update</button>





