.d-flex i {
  cursor: pointer;
  margin-left: .5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: red;
  border-radius: 50%;
  background: #eee;
}
.dropdown-menu
{
  width: 40px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
  
    z-index: 800;
   
    float: left;
    min-width: 8rem;

    font-size: 15px;
    color: #212529;
 
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.images2
{
  height:50px;
}

.header {
  max-width: 100%;
  height: 50px;
}

.sapn1 {
  color: rgb(76, 180, 16);
  font-size: 30px;
  font-weight: bold;
}

.d-flex i:hover {

  background: blue;
  transform: rotate(360deg);
  color: rgb(43, 43, 107);
  color: aqua;
}

.navbar-nav {
  margin-left: 27%;
}

@media screen and (max-width: 480px) {
  .navbar-nav {
    margin-left: 5%;
  }
  .dropdown-menu
  {
    width: 20px;
  }
  .d-flex i {
    cursor: pointer;
    margin-left: .5rem;
    height: 2.0rem;
    line-height: 2.0rem;
    width: 2.1rem;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: red;
    border-radius: 50%;
    background: #eee;
  }

  .d-flex i:hover {

    background: green;
    transform: rotate(360deg);
    color: rgb(43, 43, 107);
  }

}


.log {
  margin-right: 5%;
  height: 40px;
  border-color: rgb(155, 243, 214);
  color: rgb(143, 41, 41);
  width: 80px;
  border-radius: 40%;
  font-weight: bold;
  cursor: pointer;
}

i {
  color: red;
}

.log:hover {
  background-color: #EFB762;
}

.reg {

  margin-right: 5%;
  height: 40px;

  border-color: rgb(53, 61, 133);
  width: 80px;
  border-radius: 40%;
  background-color: rgb(162, 151, 235);
  color: rgb(143, 41, 41);
  font-weight: bold;
  cursor: pointer;
}

.reg:hover {
  background-color: #EFB762;
}

h3 {
  margin-left: 50%;
  color: wheat;

}


/* 
.search-container {
  display: flex;
  margin-bottom: 10px;
} */

input {
  flex: 1;
  padding: 8px;
}

.button1 {
  padding: 8px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

ul li a {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.button1:hover {
  background-color: #45a049;
}


@media screen and (max-width:400px)
  
 {
  .input-group
  {
    width: 200px !important;
  }
  .form-control
{
  height: 51px;
  border-radius: 30px;
}
  
  .btn-outline-primary{
    font-size: 10px;
     
      color: #fff;
      padding: 0 28px;
     
     
      border-radius: 51px;
      position: relative;
      overflow: hidden !important;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      border: none;
      background-color: #116c33;
      z-index: 1;
    
      box-shadow: none !important;
  }
  .sapn1 {
    color: rgb(76, 180, 16);
    font-size: 18px;
    font-weight: bold;
  }

  h3 {
    margin-left: 50%;
    color: wheat;
    font-size: 18px;

  }

  .header {
    max-width: 100%;
    height: 100px;
  }

  input {
    flex: 1;
    padding: 8px;
  }

  .button1 {
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }

  ul li a {
    font-weight: bold;
    font-size: 15px;
    color: white;
  }

  .button1:hover {
    background-color: #45a049;
  }
  
.log {
  margin-right: 5%;
  height: 35px;
  border-color: rgb(155, 243, 214);
  color: rgb(143, 41, 41);
  width: 60px;
  border-radius: 40%;
  font-weight: bold;
  cursor: pointer;
}

.reg {

  margin-right: 5%;
  height: 35px;

  border-color: rgb(53, 61, 133);
  width: 60px;
  border-radius: 40%;
  background-color: rgb(162, 151, 235);
  color: rgb(143, 41, 41);
  font-weight: bold;
  cursor: pointer;
}
.images2
{
  height:30px;
}
.dropdown-menu
{
  width: 10px;
}
}




.dropdown-menu
{
  background-color:white;
}
.dropdown-menu .dropdown-item
{
  color: #cccccc;
}
.input-group
{
  width: 350px;
  
}
.form-control
{
  height: 51px;
  border-radius: 30px;
}
.btn-outline-primary{
  font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 0 28px;
    line-height: 51px;
   
    border-radius: 51px;
    position: relative;
    overflow: hidden !important;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #116c33;
    z-index: 1;
  
    box-shadow: none !important;
}

.dropdown-menu:hover
{
  background-color: rgb(17, 133, 127);
}
.dropdown-menu .dropdown-item:hover
{
  color: rgb(129, 202, 11);
}



.member2 .member3
{
  padding-right: 50px;
}
.menubar
{
  width: 10px !important;
}
.member4
{
  font-size: 10px;
  color: blue;
}


