<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner" style="opacity: 0.459091;">
            <div class="page-title-holder">
                <h1 class="page-title">Cart</h1>
            </div>

            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="https://wholesaledryfruits.in/">Home</a></li>
                <li>>></li>
                <li><span class="breadcrumb-entry">Cart</span></li>
            </ul>
        </div>
    </div>
</div>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center" style="font-size: 20px; font-weight: bold;">Cart Details </h3>
                <p class="mb-5 text-center">

                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:50%"> Product Image
                                &nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;
                                Product Name</th>
                            <th style="width:22%">Price</th>
                            <th style="width:12%">Quantity</th>
                            <th style="width:20%">Weight</th>
                            <th style="width:16%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-md-5 text-left">
                                        <img src="../../assets/Image/almonds.jpg" alt=""
                                            class="img-fluid d-none d-md-block rounded mb-2 shadow "
                                            style="height: 80px; width: 120px;">
                                    </div>
                                    <div class="col-md-7 text-left mt-sm-2">
                                        <h4>Almonds</h4>

                                    </div>
                                </div>
                            </td>

                            <td data-th="Price">₹49.00</td>

                            <td data-th="Quantity">
                                <input type="number" id="quantity" class="form-control form-control-lg text-center"
                                    value="1">
                            </td>
                            <td data-th="Weight">
                                <select id="weight" class="" name="attribute_weight"
                                    data-attribute_name="attribute_weight" data-show_option_none="yes"
                                    style="width: 60px;height: 40px;" id="weight">
                                    <option value="">Choose an option</option>
                                    <option value="1kg" selected="selected" class="attached enabled">1kg
                                    </option>
                                    <option value="500gm" class="attached enabled">500gm
                                    </option>
                                    <option value="250gm" class="attached enabled">250gm
                                    </option>
                                    <option value="100gm" class="attached enabled">100gm
                                    </option>
                                </select>
                            </td>

                            <td class="actions" data-th="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-md-5 text-left">
                                        <img src="../../assets/Image/Alucha.jpg" alt=""
                                            class="img-fluid d-none d-md-block rounded mb-2 shadow "
                                            style="height: 80px;">
                                    </div>
                                    <div class="col-md-7 text-left mt-sm-2">
                                        <h4>Alucha</h4>

                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">₹49.00</td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control form-control-lg text-center" value="1">
                            </td>
                            <td data-th="Weight">
                                <select id="weight" class="" name="attribute_weight"
                                    data-attribute_name="attribute_weight" data-show_option_none="yes"
                                    style="width: 60px;height: 40px;">
                                    <option value="">Choose an option</option>
                                    <option value="1kg" selected="selected" class="attached enabled">1kg
                                    </option>
                                    <option value="500gm" class="attached enabled">500gm
                                    </option>
                                    <option value="250gm" class="attached enabled">250gm
                                    </option>
                                    <option value="100gm" class="attached enabled">100gm
                                    </option>
                                </select>
                            </td>

                            <td class="actions" data-th="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-md-5 text-left">
                                        <img src="../../assets/Image/brazil-nut.jpg" alt=""
                                            class="img-fluid d-none d-md-block rounded mb-2 shadow "
                                            style="height: 80px;">
                                    </div>
                                    <div class="col-md-7 text-left mt-sm-2">
                                        <h4>Brazil-Nuts</h4>

                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">₹49.00</td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control form-control-lg text-center" value="1">
                            </td>
                            <td data-th="Weight">
                                <select id="weight" class="" name="attribute_weight"
                                    data-attribute_name="attribute_weight" data-show_option_none="yes"
                                    style="width: 60px;height: 40px;">
                                    <option value="">Choose an option</option>
                                    <option value="1kg" selected="selected" class="attached enabled">1kg
                                    </option>
                                    <option value="500gm" class="attached enabled">500gm
                                    </option>
                                    <option value="250gm" class="attached enabled">250gm
                                    </option>
                                    <option value="100gm" class="attached enabled">100gm
                                    </option>
                                </select>
                            </td>
                            <td class="actions" data-th="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="float-right text-right">
                    <h4>Subtotal:</h4>
                    <h1>₹99.00</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a routerLink="/product">
                    <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
            </div>
        </div>
    </div>
</section>