
  

.go-top-btn
{
    position: fixed;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: #fff;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-top-btn .fa
{
   width: 30px;
   height: 30px;
   cursor: pointer;
   align-items: center;
   text-align: center;
   font-size: 30px;
}

.content-body
{
    background: goldenrod;
}






























