<div class=" about-banner">
    <div class="container banner-container">
        <h1>Seeds</h1>
    </div>
  </div>
<div class="page">
    <div class="row">
        <div class="col-md-3">
            <section class="panel">
                <header class="panel-heading" style="margin-top: 20px; font-size: 30px; font-weight: bold; margin-left: 35%;">
                    Seeds
                </header>
                <div class="panel-body1">
                    <ul class="bodys" >
                     
                         <li style="font-size: 15px; font-weight: bold;">Flex</li>
                        <li style="font-size: 15px; font-weight: bold;">Pumpkin Seeds</li>
                      <li style="font-size: 15px; font-weight: bold;">Aliv Halim Seeds</li>
                      <li style="font-size: 15px; font-weight: bold;">Watermelon</li>
                      <li style="font-size: 15px; font-weight: bold;">SunFlower Seeds</li>
                      <li style="font-size: 15px; font-weight: bold;">Chai Seeds</li>
                      <li style="font-size: 15px; font-weight: bold;">Quious Seeds</li>
              
                      </ul>
                   
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/anjeer.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Anjeer</a></strong></h4>
                    <p class="price">₹ 50</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/Alucha.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Apricot dried</a></strong></h4>
                    <p class="price">₹60</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/raisins.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Raisins</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/dried-whole.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Cranberry</a></strong></h4>

                    <p class="price">₹50</p>

                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/kiwi.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Kiwi</a></strong></h4>
                    <p class="price">₹60</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/strawberry.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Strawberry Dried</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          
        </div>
     
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/pineapple dried.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Pineapple Dried</a></strong></h4>
                    <p class="price">₹60</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/dried-whole.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Dried Blueberry Natural</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../../assets/Image/almond/prunes.jpg" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong><a href="">Prunes</a></strong></h4>
                    <p class="price">₹70</p>
                    <div class="card-footer">
                        <p routerLink="/product">Go TO Product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
