
  <div class="row" >
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <h1 class="user-name" >Signup</h1>
          </div>
        
            <form [formGroup]="signupForm" >
           
              <div class="form-group">
                <label for="email">Email : </label>
                <div class="input-container">
                  <i class="fa fa-envelope icon icon"></i>
                <input type="text" name="email" formControlName="email" class="form-control" placeholder="Email" required >
              </div>
              </div>
              <div class="form-group">
                <label for="password">Password : </label>
                <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input [type]="showPwd?'text':'password'" type="password" formControlName="password"  name="password" class="form-control" placeholder="Password" required >
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                  <i class="fa fa-eye-slash" *ngIf="showPwd" (click)="passwordToggle()"></i>
                  <i class="fa fa-eye " *ngIf="!showPwd" (click)="passwordToggle()"></i>
                </button>
              </div>
              </div>
           
              <div class="text-center">
                <button class="btn">
                  <input type="submit" class="btn btn-my" value="Signup" (click)="signup()" >
              </button>
              </div>
              <div class="text-center login">
                Already have an account ? <a routerLink="/login">Login</a> 
              </div>
              
          </form>
        </div>
      </div>
    </div>
  </div>


