<div class=" about-banner">
    <div class="container banner-container">
        <h1>Blog</h1>
    </div>
  </div>
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
    <section class="py-5" style="background-color: rgb(243, 238, 231);">
        <div class="container">
           
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                        <div class="overlay-container">
                            <img src="../../assets/Image/almonds.jpg" alt="" class="images">
                            <a href="#" class="overlay-link"></a>
                        </div>
                        <div class="body">
                            <h5 class="font-weight-bold my-2">Almonds</h5>
                            <p class="small">The almond is a species of small tree from the genus Prunus, cultivated
                                worldwide for its seed, a culinary nut. Along with the peach, it is classified in the
                                subgenus Amygdalus, distinguished from the other subgenera by corrugations on the shell
                                surrounding the seed.</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <ul class="social-links small circle">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                        <div class="overlay-container">
                            <img src="../../assets/Image/Alucha.jpg" alt="" class="images">
                            <a href="#" class="overlay-link"></a>
                        </div>
                        <div class="body">
                            <h5 class="font-weight-bold my-2">Alucha</h5>
                            <p class="small">Prunus vachuschtii is a species of plum known by the common name in
                                Georgian: romanized: alucha. It is native to the Caucasus region</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <ul class="social-links small circle">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                        <div class="overlay-container">
                            <img src="../../assets/Image/brazil-nut.jpg" alt="" class="images">
                            <a href="#" class="overlay-link"></a>
                        </div>
                        <div class="body">
                            <h5 class="font-weight-bold my-2">Brazil-Nut</h5>
                            <p class="small">The Brazil nut is a South American tree in the family Lecythidaceae, and it
                                is also the name of the tree's commercially harvested edible seeds. It is one of the
                                largest and longest-lived trees in the Amazon rainforest</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <ul class="social-links small circle">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                        <div class="overlay-container">
                            <img src="../../assets/Image/cashew.webp" alt="" class="images">
                            <a href="#" class="overlay-link"></a>
                        </div>
                        <div class="body">
                            <h5 class="font-weight-bold my-2">Cashew</h5>
                            <p class="small">The cashew tree is a tropical evergreen tree native to South America in the
                                genus Anacardium that produces the cashew seed and the cashew apple accessory fruit. The
                                tree can grow as tall as 14 metres, but the dwarf cultivars, growing up to 6 m, prove
                                more profitable, with earlier maturity and greater yields</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <ul class="social-links small circle">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                        <div class="overlay-container">
                            <img src="../../assets/Image/Chestnuts.jpg" alt="" class="images">
                            <a href="#" class="overlay-link"></a>
                        </div>
                        <div class="body">
                            <h5 class="font-weight-bold my-2">Chest Nuts</h5>
                            <p class="small">The chestnuts are the deciduous trees and shrubs in the genus Castanea, in
                                the beech family Fagaceae. They are native to temperate regions of the Northern
                                Hemisphere. The name also refers to the edible nuts they produce.</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <ul class="social-links small circle">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                        <div class="overlay-container">
                            <img src="../../assets/Image/pistachio-nut.webp" alt="" class="images">
                            <a href="#" class="overlay-link"></a>
                        </div>
                        <div class="body">
                            <h5 class="font-weight-bold my-2">Pistachio Nut</h5>
                            <p class="small">The pistachio, a member of the cashew family, is a small tree originating
                                from an area that includes Afghanistan, Central Asia, Syria, and Iran. The tree produces
                                seeds that are widely consumed as food</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <ul class="social-links small circle">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                            class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>