<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner" style="opacity: 1;">
            <div class="page-title-holder">
                <h1 class="page-title">Almonds</h1>
            </div>

            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="https://wholesaledryfruits.in/">Home</a></li>
                <li><span class="breadcrumb-entry">>> Almonds</span></li>
            </ul>
        </div>
    </div>
</div>