.container {
  max-width: 100%;
}

.row-30 {
  margin-bottom: -30px;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.col-md-5 {
  flex: 0 0 auto;
  width: 41.66667%;
}
.fadeInRight{
  margin-left: 10%;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.imges
{
  width: 350px;
  height: 300px;
  border-radius: 50%;
  margin-left: 17%;
  max-width: 100%;
  margin-top: 20px;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}

.title-style-1 {
  letter-spacing: .05em;
  text-transform: none;
  font-family: "Kalam", cursive;
  color: #76aa6f;
}

.title-style-1+h2 {
  margin-top: 10px;
}

.conatiner {
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
  justify-content: space-evenly;
  
}

.img1 {
  height: 280px;
  margin-left: 8%;
  width: 330px;
  border-radius: 80%;
}

.img2 {
  width: 330px;
  height: 280px;
  border-radius: 80%;
  margin-left: 8%;
}

.img {
  border-radius: 80%;
  height: 280px;
  margin-left: 8%;
  width: 330px;
}

















* {
  font-family: Nunito, sans-serif;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.outer-container {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: rgb(244, 252, 255);
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.section-head-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(0, 135, 177);
  margin: 0 0 10px 0;
}

.section-subhead-text {
  font-size: 25px;
  color: rgb(153, 153, 153);
  line-height: 35px;
  max-width: 470px;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.img-wrapper {
  width: 100%;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links {
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 25px;
  font-weight: 700;
  color: rgb(102, 102, 102);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.position {
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 135, 177);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.team-img {
  width: 100%;
  height: 100%;
}

.team-card-container {
  width: 280px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .outer-container {
    padding: 10px 20px 10px 20px;
  }

  .section-head-text {
    text-align: center;
  }
  .fadeInRight{
    margin-left: 3%;
  }
}

















@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}























.logs {
  background-color: antiquewhite;
  height: 300px;
}



h2 {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 70px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #1c47e3;
  left: 0;
  right: 0;
  bottom: -20px;
}

.carousel .carousel-item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}

.carousel .media img {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 0 15px 0 60px;
  position: relative;
}

.carousel .testimonial::before {
  content: "\201C";
  font-family: Arial, sans-serif;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 68px;
  line-height: 54px;
  position: absolute;
  left: 15px;
  top: 0;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #1c47e3;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 1px 3px;
  box-sizing: border-box;
}

.carousel-indicators li {
  background: #e2e2e2;
  border: 4px solid #fff;
}

.carousel-indicators li.active {
  color: #fff;
  background: #1c47e3;
  border: 5px double;
}

.image {
  border-radius: 50%;
  height: 300px;
  width: 900px;
  margin-left: 10%;
}

.woodmart-title-container {
  text-align: center;
  color: rgb(241, 87, 87);
}

.title-after_title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.image1 {
  border-radius: 50%;
  height: 300px;
  width: 900px;

}

.elementor-heading-title {
  color: rgb(241, 87, 87);
  font-weight: bold;
}

.text1 {
  font-size: 15px;
  color: rgb(134, 134, 211);
  font-weight: 400;
}

@media (max-width: 400px) {
  .image {
    border-radius: 50%;
    height: 300px;
    width: 900px;
    margin-left: 3%;
  }

  .flow {
    margin-left: 3%;
  }

  .elementor-heading-title {
    color: rgb(241, 87, 87);
    font-weight: bold;
  }

  .text1 {
    font-size: 13px;
    color: rgb(134, 134, 211);
    font-weight: 300;

  }

  .logs {
    background-color: antiquewhite;
    height: 550px;
  }
}







.section+.section {
  margin-top: var(--spacing-sections-mobile);
}
.homeNutDate {
  background-image: url(../../assets/Image/almond/pic.webp);
  background-color: #fff9e4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-width: 2px 0 2px;
  border-style: solid;
  border-color: #dfb760;
}
.homeNutDate .row {
  flex-wrap: wrap;
}
.row {
  display: flex;
}
.homeNutDate .content {
  width: 100%;
  padding: 60px 15px 60px 0;
  display: flex;
    justify-content: center;
    flex-direction: column;
}
h2.titleH2 {
  font-size: 18px;
  color: #2f3792;
  line-height: 27.047px!important;
}

.titleH2 {
  font-family: Mesmerize;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
.homeNutDate .lineBelowTitle {
  margin: 18.76px 0 22.24px;
}
.homeNutDate .lineBelowTitle {
  margin: 18.76px 0 22.24px;
}
.homeNutDate .image {
  width: 100%;
}
.homeNutDate .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



@media screen and (max-width:400px) {
  .imges
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 15%;
  max-width: 100%;
}
  
}




