body{
   margin-top:20px;
   background-color:#0b4294;
   color:#69707a;
   }
   .img-account-profile {
       height: 10rem;
   }
   .rounded-circle {
       border-radius: 50% !important;
   }
   .card {
       box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
   }
   .card .card-header {
       font-weight: 500;
   }
   .card-header:first-child {
       border-radius: 0.35rem 0.35rem 0 0;
   }
   .card-header {
       padding: 1rem 1.35rem;
       margin-bottom: 0;
       background-color: rgba(33, 40, 50, 0.03);
       border-bottom: 1px solid rgba(33, 40, 50, 0.125);
   }
   .form-control, .dataTable-input {
       display: block;
       width: 100%;
       padding: 0.875rem 1.125rem;
       font-size: 0.875rem;
       font-weight: 400;
       line-height: 1;
       color: #69707a;
       background-color: #fff;
       background-clip: padding-box;
       border: 1px solid #c5ccd6;
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       border-radius: 0.35rem;
       transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   }
   .small
   {
      font-size: 13px;
      font-weight: bold;
      color: rgb(21, 227, 235);
   }
   .nav-borders .nav-link.active {
       color: #0061f2;
       border-bottom-color: #0061f2;
   }
   .nav-borders .nav-link {
       color: #69707a;
       border-bottom-width: 0.125rem;
       border-bottom-style: solid;
       border-bottom-color: transparent;
       padding-top: 0.5rem;
       padding-bottom: 0.5rem;
       padding-left: 0;
       padding-right: 0;
       margin-left: 1rem;
       margin-right: 1rem;
   }
   .btn1
   {
      background-color: rgb(23, 107, 79);
      border-radius: 40%;
      border-color: brown;
   }

.btn1 a
{
   color: rgb(216, 89, 115);
   font-size: 20px;
   font-weight: bold;
}

.btn1 a:hover
{
   color: rgb(42, 54, 221);
   font-size: 20px;
   font-weight: bold;
}
.btn1:hover
{
   background-color: rgb(201, 171, 37);
   border-radius: 40%;
   border-color: rgb(76, 161, 27);
}

.btn2
{
   background-color: #0061f2;
   border-radius: 40%;
   border-color: black;
}
.btn2 a
{
   color: black;
   font-size: 20px;
   font-weight: bold;
}

.btn2:hover
{
   background-color: rgb(201, 171, 37);
  
   border-color: rgb(76, 161, 27);

}
  
  
  
.btn3
{
   background-color: #89f200;
   border-radius: 40%;
   border-color: black;
}
.btn3 a
{
   color: black;
   font-size: 20px;
   font-weight: bold;
}

.btn3:hover
{
   background-color: rgb(201, 171, 37);
  
   border-color: rgb(76, 161, 27);

}
  
  
  
  
  
  
  
  
  
  
  